<?xml version="1.0"?>

<!-- Launch the roboclaw node and the Arduino node -->

<launch>
   <include file="$(find motor_control)/launch/roboclaw_cpp.launch"/>
   <!-- <include file="$(find arduino)/launch/arduino.launch"/> -->
   <!-- <include file="$(find motor_control)/launch/test_serial.launch"/> -->
</launch>
