<?xml version="1.0"?>
<launch>
   <arg name="planning" default="false" />
   <arg name="localization" default="false" />

   <!-- Start the roboclaw and Arduino nodes -->
   <include file="$(find jet_launcher)/launch/basic.launch"/>

   <!-- Start the gamepad node-->
   <node pkg="jet_launcher" type="joystick.py" name="joystick_node" required="true"/>

   <!-- Start the Adafruit LCD node-->
   <include file="$(find jet_launcher)/launch/lcd.launch"/>

   <group if="$(arg planning)">
      <include file="$(find camera_reader)/launch/camera_reader.launch"/> --> 
      <include file="$(find jet_launcher)/launch/robot_localization.launch"/>
   </group>
</launch>
