<?xml version="1.0"?>

<launch>

   <node pkg="tf2_ros" type="static_transform_publisher" name="see3cam_broadcaster" args=".13 0 .22 0 0 0 1 base_link see3_cam" />
   <node pkg="tf2_ros" type="static_transform_publisher" name="zed2_broadcaster" args=".165 0 .5842 0 0 0 1 base_link zed2_camera_center" />

   <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0 0.2286 0 0 0 1 base_link imu" />

   <node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_broadcaster" args=".1778 0 0.3048 0 0 1 0 base_link laser" />

   <node pkg="tf2_ros" type="static_transform_publisher" name="roboclaw_link_broadcaster" args=".13 0 0 0 0 1 0 base_link roboclaw_center" />


   <!-- old -->
   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="t265_odom_broadcaster" args="0 0 0 0 0 0 1 odom camera_odom_frame" /> -->

   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="t265_rotate_broadcaster" args="-.1 0 .1 .5 .5 .5 .5 camera_link t265_test_rotation" />  -->
   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="t265_rotate_broadcaster" args="-.1 0 .1 3.14159 .350 0 camera_odom_frame t265_test_rotation" />  -->

   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 map base_link" /> -->
   <!--  <node pkg="image_test" type="range_data_publisher.py" name="range_node" cwd="node" output="screen" /> -->
</launch>
