<?xml version="1.0"?>

<launch>
   <!--<node pkg="tf2_ros" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 map base_link" /> -->

   <node pkg="tf2_ros" type="static_transform_publisher" name="see3cam_broadcaster" args=".2 0 .584 0 0 0 1 base_link see3_camera_fixed" />

   <node pkg="tf2_ros" type="static_transform_publisher" name="zed_broadcaster" args=".2 0 .5 0 0 0 1 base_link zed_camera_center" />

   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="zed_broadcaster1" args="0 0 0 0 0 0 1 zed_camera_center zed_camera_fixed" /> -->

   <node pkg="tf2_ros" type="static_transform_publisher" name="t265_broadcaster" args=".2 0 -.6 0 0 0 1 camera_link base_link" />

   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="t265_rotate_broadcaster" args="-.1 0 .1 .5 .5 .5 .5 camera_link t265_test_rotation" />  -->
   <node pkg="tf2_ros" type="static_transform_publisher" name="t265_rotate_broadcaster" args="-.1 0 .1 3.14159 .350 0 camera_odom_frame t265_test_rotation" /> 

    <node pkg="image_test" type="range_data_publisher.py" name="range_node" cwd="node" output="screen">
    </node>
</launch>
