<?xml version="1.0"?>
<launch>
   <include file="$(find video_stream_opencv)/launch/camera.launch" >
      <!-- node name and ros graph name -->
      <arg name="camera_name" value="see3cam_cu20" />
      <!-- means video device 0, /dev/video0 -->
      <arg name="video_stream_provider" value="0" />
      <!-- set buffer queue size of frame capturing to -->
      <arg name="buffer_queue_size" value="1" />
      <!-- throttling the querying of frames to -->
      <arg name="fps" value="15" />
      <!-- setting frame_id -->
      <arg name="frame_id" value="cam1" />
      <!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
      "file:///$(find your_camera_package)/config/your_camera.yaml" -->
      <arg name="camera_info_url" value="file:///$(find jet_launcher)/config/see3cam_cu20.yaml" />
      <!-- flip the image horizontally (mirror it) -->
      <arg name="flip_horizontal" value="false" />
      <!-- flip the image vertically -->
      <arg name="flip_vertical" value="false" />
      <!-- visualize on an image_view window the stream generated -->
      <arg name="visualize" value="false" />
      <arg name="width" value="1920" />
      <arg name="height" value="1080" />
   </include>

   <!-- Throttle the rate that images are published from the camera to 1.0Hz-->
   <node pkg="topic_tools" name="throttle" type="throttle" args="messages /see3cam_cu20/image_raw 1.0" />

   <!-- Resize the image to 480x270 -->
   <node pkg="image_test" type="resize_to_480_270.py" name="resize480_node" />

   <group ns="see3cam_cu20/image_raw" >
      <rosparam param="disable_pub_plugins">
         - 'image_transport/compressedDepth'
         - 'image_transport/compressed'
         - 'image_transport/theora'
      </rosparam>
   </group>

   <include file="$(find jet_launcher)/launch/compressed_video_480.launch" />
</launch>
