<?xml version="1.0"?>
<launch>
   <!--<param name="use_sim_time" value="true" />-->
   <include file="$(find jet_launcher)/launch/uncompress_video.launch"/>
   <node pkg="rosbag" type="play" name="player" args="-q -l /mnt/temp/output.bag"/>
   <include file="$(find image_test)/launch/infer.launch"/>
</launch>
