<?xml version="1.0"?>
<launch>
   <!-- Throttle the rate that images are published from the camera -->
   <node pkg="topic_tools" name="throttle" type="throttle" args="messages /see3cam_cu20/image_raw 1.0" />
   
   <!-- Save the images -->
   <node pkg="image_view" name="image_saver" type="image_saver" args="image:=/see3cam_cu20/image_raw_throttle _save_all_image:=true" />
</launch>
