<?xml version="1.0"?>
<launch>
   <arg name="planning" default="false" />
   <arg name="mapping" default="false" />
   <arg name="localization" default="false" />

   <!--<include file="$(find jet_launcher)/launch/camera.launch"/> -->
   <include file="$(find jet_launcher)/launch/zed_camera_rtabmap_nodelet.launch"/>
   <include file="$(find jet_launcher)/launch/basic.launch"/>
   <include file="$(find roboclaw_node)/launch/joystick.launch"/>


   <group if="$(arg mapping)">
      <include file="$(find jet_launcher)/launch/zed_rtabmap.launch"/>
   </group>

   <group if="$(arg localization)">
      <include file="$(find jet_launcher)/launch/zed_rtabmap_localization.launch"/>
   </group>

   <group if="$(arg planning)">
      <include file="$(find jet_launcher)/launch/obstacle_detection.launch"/>
      <include file="$(find jet_launcher)/launch/planner/planner.launch"/> 
      <include file="$(find jet_launcher)/launch/robot_localization.launch"/>
      <include file="$(find transform_point_cloud)/launch/transform_gyro.launch"/> 
   </group>
</launch>
