<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <include file="$(find jet_launcher)/launch/rtabmap_parameters.xml" /> 
    <include file="$(find jet_launcher)/launch/rtabmap_relay.launch" /> 

    <param name="/use_sim_time" value="true" /> 

    <arg name="sim"               	default="false" />

    <group if="$(arg sim)">
      <include file="$(find jet_launcher)/launch/robot_localization.launch" /> 
    </group>

    <arg name="zed_namespace"		default="zed" />

    <arg name="svo_file"              	default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="loc"              	default="false" /> 

    <arg name="camera_model"         	default="0" /> <!-- 0=ZED, 1=ZEDM-->
    <arg name="serial_number"        	default="0" />
    <arg name="verbose"              	default="true" />
    <arg name="resolution"           	default="2" /> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate"           	default="30" />
    <!-- RESOLUTION_HD2K   -> 2208*1242, available framerates: 15 fps.
       RESOLUTION_HD1080 -> 1920*1080, available framerates: 15, 30 fps.
       RESOLUTION_HD720  -> 1280*720,  available framerates: 15, 30, 60 fps.
       RESOLUTION_VGA    -> 672*376,   available framerates: 15, 30, 60, 100 fps. -->

    <arg name="rgb_topic"               	default="rgb/image_rect_color" />
    <arg name="depth_topic"             	default="depth/depth_registered" />
    <arg name="camera_info_topic"       	default="rgb/camera_info" />
    <arg name="depth_camera_info_topic" 	default="depth/camera_info" />
    <arg name="camera_frame"              default="zed_camera_center" />

    <!-- RTAB-map Node-->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args"		value="--delete_db_on_start" />  
      <arg name="rgb_topic"               	value="/$(arg zed_namespace)/data_throttled_image" />
      <arg name="depth_topic"             	value="/$(arg zed_namespace)/data_throttled_image_depth" />
      <arg name="camera_info_topic"       	value="/$(arg zed_namespace)/data_throttled_camera_info" />
<!--      <arg name="depth_camera_info_topic" 	value="/$(arg zed_namespace)/zed_node/depth/camera_info" /> -->
      <!--<arg name="frame_id"                  value="$(arg camera_frame)" /> -->
      <arg name="frame_id"                  value="base_link" /> 
      <arg name="odom_frame_id"                  value="odom" />
      <arg name="approx_sync"               value="true" />
      <arg name="visual_odometry"           value="false" />
      <arg name="compressed"                value="true" />
      <arg name="rgb_image_transport"       value="compressed" />
      <arg name="depth_image_transport"     value="compressedDepth" />
      <!-- <arg name="odom_topic"                value="/zed/zed_node/odom" /> -->
      <arg name="odom_topic"                value="/ekf_node/odom" />
      <arg name="localization"                value="false" />
      <!--<arg name="database_path"                 value="$(arg rtabmap_db_path)/rtabmap.db" />-->
    </include>
</launch>
