<?xml version="1.0"?>
<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter"> 
    <rosparam command="load" file="$(find jet_launcher)/launch/laser_config.yaml" />
    <remap from="scan" to="/laser_scan" />
    <!-- <remap from="scan" to="/depth_to_laser/scan" /> -->
    <remap from="scan_filtered" to="/laser_scan_filtered" />
  </node>
</launch>
