<?xml version="1.0"?>

<!-- This file starts the ZED camera on the robot -->
<!-- This file does not start rtabmap             -->

<launch>
    <include file="$(find image_cnn)/launch/tf_publisher.launch" /> 

    <arg name="zed_namespace"		    	default="zed2" />

    <arg name="svo_file"                        default="" /> 
    <arg name="zed_node_name"                   default="zed_node" />
    <arg name="camera_model"                    default="zed2" /> <!-- 'zed' or 'zedm' -->
    <arg name="publish_urdf"                    default="true" />

    <arg name="verbose"              	default="true" />

    <!-- Nodelet Manager -->
    <arg name="nodelet_manager_name" default="zed_nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)"  args="manager" output="screen">
        <param name="num_worker_threads" type="int" value="8"/>
    </node> 

    <!-- ZED Wrapper Node-->
    <include file="$(find zed_wrapper)/launch/zed_camera_nodelet.launch">
        <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
        <arg name="svo_file"             value="$(arg svo_file)" />
        <arg name="node_name"            value="$(arg zed_node_name)" />
        <arg name="camera_model"         value="$(arg camera_model)" />
        <arg name="publish_urdf"         value="$(arg publish_urdf)" />
    </include>

    <!-- <node pkg="nodelet" type="nodelet" name="rgbd_sync_test" args="load rtabmap_ros/rgbd_sync $(arg nodelet_manager_name)" output="screen"> -->
    <!--    <remap from="rgb/image"       to="/zed2/zed_node/rgb/image_rect_color"/> -->
    <!--    <remap from="depth/image"     to="/zed2/zed_node/depth/depth_registered"/> -->
    <!--    <remap from="rgb/camera_info" to="/zed2/zed_node/rgb/camera_info"/> -->
    <!--    <remap from="rgbd_image"      to="rgbd_image"/> -->
    <!--    <param name="approx_sync"     type="bool"   value="true"/> -->
    <!--    <param name="queue_size"      type="int"    value="17"/> -->
    <!--    <param name="depth_scale"     type="double" value="1.0"/> -->
    <!-- </node> -->


    <!-- <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle zed_nodelet_manager" output="screen"> -->
    <!--     <param name="rate" type="double" value="2.0"/> -->
    <!--     <param name="approx_sync" type="bool" value="true"/> -->

    <!--     <remap from="rgb/image_in"       to="$(arg zed_namespace)/$(arg zed_node_name)/rgb/image_rect_color"/> -->
    <!--     <remap from="depth/image_in"     to="$(arg zed_namespace)/$(arg zed_node_name)/depth/depth_registered"/> -->
    <!--     <remap from="rgb/camera_info_in" to="$(arg zed_namespace)/$(arg zed_node_name)/rgb/camera_info"/> -->

    <!--     <remap from="rgb/image_out"       to="$(arg zed_namespace)/data_throttled_image"/> -->
    <!--     <remap from="depth/image_out"     to="$(arg zed_namespace)/data_throttled_image_depth"/> -->
    <!--     <remap from="rgb/camera_info_out" to="$(arg zed_namespace)/data_throttled_camera_info"/> -->
    <!-- </node> --> 

</launch>
