<?xml version="1.0"?>

<!-- Start rtabmap in localization mode and do not add to the map. -->

<launch>
    <arg name="testing_map" default="false" />
    <include file="$(find jet_launcher)/launch/rtabmap_parameters.xml"> 
       <arg name="testing_map" value="$(arg testing_map)" />
    </include>

    <param name="/rtabmap/rtabmap/RGBD/SavedLocalizationIgnored" value="true" />
    <param name="/rtabmap/rtabmap/Mem/IncrementalMemory" value="false" />
    <param name="/rtabmap/rtabmap/RGBD/CreateOccupancyGrid" value="false" />

    <!-- RTAB-Map's parameters -->
    <param name="/rtabmap/rtabmap/RGBD/NeighborLinkRefining" type="string" value="true"/>
    <param name="/rtabmap/rtabmap/RGBD/ProximityBySpace"     type="string" value="true"/>
    <param name="/rtabmap/rtabmap/RGBD/AngularUpdate"        type="string" value="0.01"/>
    <param name="/rtabmap/rtabmap/RGBD/LinearUpdate"         type="string" value="0.01"/>
    <param name="/rtabmap/rtabmap/RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
    <param name="/rtabmap/rtabmap/Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from lidar -->
    <param name="/rtabmap/rtabmap/Reg/Force3DoF"             type="string" value="true"/>
    <param name="/rtabmap/rtabmap/Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
    
    <!-- ICP parameters -->
    <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
    <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
          
    <arg name="rtabmap_flags" default="" />

    <arg name="zed_namespace"             default="zed2" />

    <arg name="sim"                       default="false" />
    <group if="$(arg sim)">
        <param name="/use_sim_time" value="true" />
        <!-- <include file="$(find image_cnn)/launch/tf_publisher.launch" /> --> 
    </group>

    <!-- RTAB-map Node-->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args"	          value="$(arg rtabmap_flags)" />  
      <arg name="rgbd_sync"               value="true"/>         <!-- pre-sync rgb_topic, depth_topic, camera_info_topic -->
      <arg name="subscribe_scan"          value="true"/>
      <arg name="scan_topic"              value="/scan"/>

      <arg name="rgb_topic"               value="/$(arg zed_namespace)/zed_node/rgb/image_rect_color" />
      <arg name="depth_topic"             value="/$(arg zed_namespace)/zed_node/depth/depth_registered" />
      <arg name="camera_info_topic"       value="/$(arg zed_namespace)/zed_node/rgb/camera_info" />
      <arg name="odom_topic"              value="/ekf_node/odom" />

      <arg name="frame_id"                value="base_link" /> 
      <arg name="approx_sync"             value="true" />
      <arg name="approx_rgbd_sync"        value="true" />
      <arg name="queue_size"              value="17" />
      <arg name="visual_odometry"         value="false" />
      <arg name="wait_for_transform"      value=".8" />
      <arg name="database_path"           value="/tmp/ramdisk/rtabmap.db" />
      <arg name="localization"            value="true" />
      <arg name="rtabmapviz"              value="false" />
    </include>
</launch>
