<?xml version="1.0"?>
<launch>
   <arg name="planning" default="false" />
   <arg name="mapping" default="false" />
   <arg name="localization" default="false" />
   <arg name="rtabmapviz" default="false" />
   <arg name="rtabmap_debug" default="false" />
   <arg name="testing_map" default="false" />
   <arg name="laser" default="false" />

   <group if="$(arg testing_map)">
      <include file="$(find jet_launcher)/launch/map.launch">
         <arg name="testing_map" value="true" />
      </include> 
   </group>
   <group unless="$(arg testing_map)">
      <include file="$(find jet_launcher)/launch/map.launch">
         <arg name="testing_map" value="false" />
      </include> 
   </group>

   <!-- Start the ZED camera node -->
   <include file="$(find jet_launcher)/launch/herbie2_zed_camera_rtabmap_nodelet.launch"/>

   <!-- Start the roboclaw and Arduino nodes -->
   <include file="$(find jet_launcher)/launch/basic.launch"/>

   <!-- Start the gamepad node-->
   <!-- <include file="$(find jet_launcher)/launch/joystick.launch"/> -->
   <node pkg="jet_launcher" type="joystick.py" name="joystick_node" required="true"/>

   <!-- Start the Adafruit LCD node-->
   <include file="$(find jet_launcher)/launch/lcd.launch"/>

   <!-- Start the laser scanner node-->
   <group if="$(arg laser)">
      <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>
      <include file="$(find jet_launcher)/launch/herbie2_laser_filter.launch"/>
   </group>

   <group if="$(arg mapping)">
      <include file="$(find jet_launcher)/launch/herbie2_zed_rtabmap.launch"/>
   </group>

   <group if="$(arg localization)">
      <group if="$(arg rtabmap_debug)">
         <include file="$(find jet_launcher)/launch/herbie2_zed_rtabmap_localization.launch">
               <arg name="rtabmap_flags" value="--udebug" />
               <arg name="testing_map" value="$(arg testing_map)" />
         </include> 
      </group>
      <group unless="$(arg rtabmap_debug)">
         <include file="$(find jet_launcher)/launch/herbie2_zed_rtabmap_localization.launch">
               <arg name="rtabmap_flags" value="" />
               <arg name="testing_map" value="$(arg testing_map)" />
         </include> 
      </group>
   </group>

   <group if="$(arg planning)">
      <include file="$(find camera_reader)/launch/camera_reader.launch"/> --> 
      <include file="$(find image_cnn)/launch/image_cnn.launch"/> --> 

      <include file="$(find jet_launcher)/launch/new_planner/planner.launch"/> 
      <include file="$(find jet_launcher)/launch/robot_localization.launch"/>
      <include file="$(find navigation_goals)/launch/navigation_goals.launch"/> 
   </group>
</launch>
