<?xml version="1.0"?>
<launch>
   <arg name="testing_map" default="false"/> 

   <group if="$(arg testing_map)">
      <arg name="map_file" value="$(find jet_launcher)/launch/map/building14_new/map.yaml"/>
      <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
   </group>
   <group unless="$(arg testing_map)">
      <arg name="map_file" value="$(find jet_launcher)/launch/map/map.yaml"/>
      <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
   </group>

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->
</launch>
